<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._157LabLearnAndroid"
        tools:targetApi="31">

        <!-- MenuActivity is the main entry point (Checked from file name MenuActivity.kt) -->
        <activity
            android:name=".ListActivity"
            android:exported="false"
            android:label="@string/title_activity_list"
            android:theme="@style/Theme._157LabLearnAndroid" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme._157LabLearnAndroid" />
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:label="@string/title_activity_manu"
            android:theme="@style/Theme._157LabLearnAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImagePickerActivity"
            android:exported="false"
            android:label="Image Picker Activity"
            android:theme="@style/Theme._157LabLearnAndroid" />
        <activity
            android:name=".SensorActivity"
            android:exported="false"
            android:label="Sensor Activity"
            android:theme="@style/Theme._157LabLearnAndroid" />

        <activity
            android:name=".SharedPreferencesActivity"
            android:exported="false"
            android:label="@string/title_activity_shared_preferences"
            android:theme="@style/Theme._157LabLearnAndroid" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme._157LabLearnAndroid" />

        <activity
            android:name="architecture.MVVM.MvvmCounterActivity"
            android:exported="false"
            android:label="MVVM Counter" />

        <activity
            android:name=".PokedexActivity"
            android:exported="false"
            android:label="@string/title_activity_pokedex"
            android:theme="@style/Theme._157LabLearnAndroid" />

        <activity
            android:name=".LifeCycleComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme._157LabLearnAndroid" />

        <activity
            android:name=".RPGCardActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme._157LabLearnAndroid" />

        <activity
            android:name=".Part1AnimationActivity"
            android:exported="false"
            android:label="Animation Lab Part 1"
            android:theme="@style/Theme._157LabLearnAndroid" />

        <activity
            android:name=".Part2Activity"
            android:exported="false"
            android:label="Contact List Lab (Sticky &amp; Pagination)"
            android:theme="@style/Theme._157LabLearnAndroid" />

        <activity
            android:name=".Part3Activity"
            android:exported="false"
            android:label="Animation Lab Part 3 (Donut Chart)"
            android:theme="@style/Theme._157LabLearnAndroid" />

        <activity
            android:name=".Part4Activity"
            android:exported="false"
            android:label="Swipe-to-Dismiss To-Do List"
            android:theme="@style/Theme._157LabLearnAndroid" />

        <activity
            android:name=".Part5Activity"
            android:exported="false"
            android:label="Side Effects Lab (Part 5)"
            android:theme="@style/Theme._157LabLearnAndroid" />

        <activity
            android:name=".Part6Activity"
            android:exported="false"
            android:label="WebView Lab (Part 6)"
            android:theme="@style/Theme._157LabLearnAndroid" />

    </application>

</manifest>
