<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.intent.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._157LabLearnAndroid"
        tools:targetApi="31">
        <activity
            android:name=".ManuActivity"
            android:exported="true"
            android:label="@string/title_activity_manu"
            android:theme="@style/Theme._157LabLearnAndroid" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PokedexActivity"
            android:exported="true"
            android:label="@string/title_activity_pokedex"
            android:theme="@style/Theme._157LabLearnAndroid" />
        <activity
            android:name=".LifeCycleComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme._157LabLearnAndroid" />
        <activity
            android:name=".RPGCardActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme._157LabLearnAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>